

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row {
    display: flex;
}



body {
    background-color: #201520;
    color: #EFE3C8;
    font-family: Rosarivo, serif;
    display: flex;
    flex-flow: column nowrap;
}

header {
    padding: 25px 30px;
}

header h1 {
    display: flex;
    flex-flow: column nowrap;
    line-height: 2.2rem;
}

header h1 span:first-of-type {
    opacity: 0.5;
}

header h1 span:nth-of-type(2) {
    font-size: 2.5rem;
}

form {
    align-self: center;
    width: calc(100% - 30px);
    margin-right: 30px;
    background-color: rgba(23, 16, 23, 0.5);
    display: flex;
    align-items: center;
}

form label {
    padding: 2px 20px 0 20px;
    font-size: 1.5em;
}

form input {
    padding: 10px 5px 5px 5px;
    background-color: transparent;
    flex-grow: 1;
    border: none;
    border-radius: 12px;
    color: white;
    font-family: Rosarivo, serif;
}

form input::placeholder {
    font-family: Rosarivo, serif;
    font-size: 1.2rem;
    color: rgba(240, 228, 201, 0.5);
    position: relative;
}

main {
    height: 100vh;
}

#roast-search {
    flex: 0 0 2.5rem;
    padding-right: 10px;
    border-top-right-radius: 50px;
    background-color: rgba(112, 67, 65, 0.3);
    margin-top: 30px;
}

#roast-search ul {
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding-top: 50px;
    padding-left: 8px;
    font-size: 1.2rem;
}

#roast-search ul li {
    writing-mode: vertical-lr;
    transform: rotate(180deg);
    list-style: none;
    cursor: pointer;
    color: rgba(240, 228, 201, 0.5);
}

#roast-search ul li:hover {
    color: rgba(240, 228, 201, 0.8);
}

#roast-search ul li.selected {
    transform: scale(1.4) rotate(180deg);
    position: relative;
    left: 5px;
    color: #EFE3C8;
}

#coffees {
    margin: 15px;
    padding: 15px;
    display: flex;
    flex-flow: row wrap;
    gap: 15px;
    align-self: start;
    flex: 1 0 0;
}

.coffee {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: calc((100%/2) - 15px);
    align-items: center;
    justify-content: center;
    text-align: center;

    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 12px;
    border: 1px solid black;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);

    padding: 10px;
}

.coffee h2 {
    font-size: 1.2rem;
}

.del {
    opacity: 0;
    position: absolute;
    top: 5px;
    right: 5px;
    cursor: pointer;
    font-size: 1.5rem;
    z-index: 2;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background-color: rgba(240, 228, 201, 0.7);
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.coffee:hover .del {
    opacity: 1;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: black;
    width: 100%;
    padding: 5px 15px;
}

footer nav ul li {
    list-style: none;
    font-size: 1.5em;
    font-weight: bolder;
    cursor: pointer;
}

#addCoffeeModalWrapper {
    position: fixed;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 20px 0 20px;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(0px);
    transition: all ease .5s;
    opacity: 1;
    z-index: 2;
}

#addCoffeeModalWrapper form {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    width: fit-content;
    background-color: rgba(74, 43, 41, 0.6);
    padding: 8px 20px;
    border-radius: 12px;
}

#addCoffeeModalWrapper form input {
    background-color: #EFE3C8;
    margin-bottom: 15px;
    color: black;
}

#addCoffeeModalWrapper form input[type="submit"] {
    margin: 5px 0;
    padding: 8px 10px 6px 10px;
    cursor: pointer;
    font-family: "Open Sans", sans-serif;
    text-transform: uppercase;
}

#addCoffeeModalWrapper form select {
    background-color: #EFE3C8;
    border: 1px solid #201520;
    border-radius: 12px;
    padding: 2px 8px;
    margin-bottom: 15px;
}

#addCoffeeModalWrapper.hideModal {
    opacity: 0;
    max-height: 0;
    pointer-events: none;
}

#addCoffeeModalWrapper.showModal {
    opacity: 1;
    max-height: 500px;
    pointer-events: all;
    backdrop-filter: blur(1px);
}

@media screen and (min-width: 768px) {
    .coffee {
        flex-basis: calc((100%/3) - 15px);
    }
}

@media screen and (min-width: 992px) {
    .coffee {
        flex-basis: calc((100%/4) - 15px);
    }
}

@media screen and (min-width: 1200px) {
    .coffee {
        flex-basis: calc((100%/5) - 15px);
    }
}

